---
import Layout from '../layouts/Layout.astro';
import LightBox from '../components/LightBox.astro';

const project = {
  title: 'Artigas',
  description:
    "This renovation blended the client's modern black-and-white palette with shades of grey and blue for a fresh, elegant look. Clever storage solutions, including a TV unit and a mobile kitchen island, maximised functionality while enhancing comfort and style throughout the home.",
  cover: [
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631210119/casaArtigas/casaArtigas-5_jkzccr.jpg',
  ],
  imageGallery: [
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631210119/casaArtigas/casaArtigas-5_jkzccr.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631210090/casaArtigas/casaArtigas-4_zjoch6.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631210149/casaArtigas/casaArtigas-6_cneazz.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631209971/casaArtigas/casaArtigas-1_rbjuer.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631210011/casaArtigas/casaArtigas-2_gcbtzb.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631210058/casaArtigas/casaArtigas-3_r6vnnj.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631210206/casaArtigas/casaArtigas-8_j4mxcs.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631210237/casaArtigas/casaArtigas-9_eq8och.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631210268/casaArtigas/casaArtigas-10_xxjzgz.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631210297/casaArtigas/casaArtigas-11_wjvu6n.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631210178/casaArtigas/casaArtigas-7_m0xndr.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631210422/casaArtigas/casaArtigas-15_h7kagv.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631210392/casaArtigas/casaArtigas-14_il6xfw.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631210366/casaArtigas/casaArtigas-13_fplole.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631210331/casaArtigas/casaArtigas-12_f3dppp.jpg',
  ],
};

const photos = project.imageGallery.map(img => {
  return { src: img, alt: project.title, width: 700, height: 700 };
});
---

<Layout title={project.title}>
  <div class='project-header'>
    <div class='project-header__title'>
      <h1>{project.title}</h1>
      <p>{project.description}</p>
    </div>
    <div class='project-header__img'>
      <img
        src='https://res.cloudinary.com/dgxp6vwij/image/upload/v1631210178/casaArtigas/casaArtigas-7_m0xndr.jpg'
        alt='profesional profile photo'
        width='250'
      />
    </div>
  </div>
  <LightBox {photos} />
</Layout>
<style>
  .project-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
  }

  .project-header__title {
  }

  .project-header__title h1 {
    margin-bottom: 1rem;
  }

  .project-header__img {
  }

  .project-header p {
  }

  @media (max-width: 768px) {
    .project-header p {
      width: 100%;
    }
  }
</style>
