---
const project = {
  title: 'Departamento Brandsen',
  description: 'Servicio Llave en mano: Diseño y decoración de departamento de dos ambientes.',
  cover: [
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631128400/deptoBrandsen/deptoBrandsen-1_opinbb.jpg',
  ],
  imageGallery: [
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631129332/deptoBrandsen/deptoBrandsen-13_nxvjcn.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631129404/deptoBrandsen/deptoBrandsen-14_x4zif9.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631129517/deptoBrandsen/deptoBrandsen-16_qoisib.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631129228/deptoBrandsen/deptoBrandsen-12_lny6wj.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631128400/deptoBrandsen/deptoBrandsen-1_opinbb.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631129460/deptoBrandsen/deptoBrandsen-15_aqpplh.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631128489/deptoBrandsen/deptoBrandsen-2_pinsru.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631128554/deptoBrandsen/deptoBrandsen-3_hsu6w7.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631128662/deptoBrandsen/deptoBrandsen-4_szhlqv.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631128715/deptoBrandsen/deptoBrandsen-5_k2y2f3.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631128781/deptoBrandsen/deptoBrandsen-6_zg9hqt.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631128838/deptoBrandsen/deptoBrandsen-7_e5tfkw.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631129079/deptoBrandsen/deptoBrandsen-10_hutu9t.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631129575/deptoBrandsen/deptoBrandsen-17_qah0ko.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631129645/deptoBrandsen/deptoBrandsen-18_ei6suf.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631129130/deptoBrandsen/deptoBrandsen-11_tvrcag.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631128892/deptoBrandsen/deptoBrandsen-8_hjca0w.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631128941/deptoBrandsen/deptoBrandsen-9_ec7lhu.jpg',
  ],
};
---

<section>
  <h1>{project.title}</h1>
</section>
