---
const project = {
  title: 'Dpto Gascón',
  description:
    'Proyecto Llave en Mano: diseño completo de todos los ambientes del un semipiso de 3 ambientes.',
  cover: [
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654634547/Dpto%20Gasc%C3%B3n/DSC_8448_qya0if.jpg',
  ],
  imageGallery: [
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654634547/Dpto%20Gasc%C3%B3n/DSC_8448_qya0if.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654634540/Dpto%20Gasc%C3%B3n/DSC_8446_diuyca.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654634541/Dpto%20Gasc%C3%B3n/DSC_8449_lvx97c.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654634543/Dpto%20Gasc%C3%B3n/DSC_8459_s0fvee.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654634547/Dpto%20Gasc%C3%B3n/DSC_8457_bls6ue.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654634549/Dpto%20Gasc%C3%B3n/DSC_8454_cugux4.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654634677/Dpto%20Gasc%C3%B3n/DSC_8522_wdnijn.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654634562/Dpto%20Gasc%C3%B3n/DSC_8511_w6nw4p.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654634559/Dpto%20Gasc%C3%B3n/DSC_8479_jkhswy.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654634556/Dpto%20Gasc%C3%B3n/DSC_8468_h1ozwn.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654634560/Dpto%20Gasc%C3%B3n/DSC_8491_h2bfsu.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654634560/Dpto%20Gasc%C3%B3n/DSC_8485_l04gsq.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654634678/Dpto%20Gasc%C3%B3n/DSC_8549_gbhxz5.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654634560/Dpto%20Gasc%C3%B3n/DSC_8490_r2xxsu.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654634553/Dpto%20Gasc%C3%B3n/DSC_8471_tqzmga.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654634554/Dpto%20Gasc%C3%B3n/DSC_8487_trsj5w.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654634555/Dpto%20Gasc%C3%B3n/DSC_8481_ufm1bg.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654634548/Dpto%20Gasc%C3%B3n/DSC_8460_y5mi3v.jpg',
  ],
};
---

<section>
  <h1>{project.title}</h1>
</section>
