---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title='Welcome to Astro.'>
  <Header />
  <main>
    <div class="container">
      <div class="introduction">
        <div class="introduction__description">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
            quas corrupti velit atque fugit magni perferendis minus, inventore
            porro dignissimos natus mollitia repudiandae officiis
            exercitationem enim corporis impedit explicabo. Atque.
          </p>
        </div>
        <div class="introduction__imh">
          <img
            src="https://placehold.co/400x400/png"
            alt="profesional profile photo"
          />
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>

  /* Make it global */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .introduction {
    display: flex;
    align-items: center;
    argin-top: 4rem;
  }

  .introduction div {
    flex: 1;
  }

  .introduction img {
    border-radius: 50%;
  }

  @media (max-width: 768px) {
    .introduction {
      display: flex;
      flex-direction: column;
      flex-flow: column-reverse;
      align-items: center;
      margin-top: 4rem;
    }
  }
</style>
