---
import Layout from '../layouts/Layout.astro';

import IntroductionSection from '../components/IntroductionSection.astro';
import DescriptionSection from '../components/DescriptionSection.astro';
import SelectedProjectsSection from '../components//SelectedProjectsSection.astro';
---

<Layout title='Welcome to Astro.'>
  <div class='content'>
    <div class='content__introduction'>
      <IntroductionSection />
    </div>
    <hr class='content__separator' />
    <div class='content__description'>
      <DescriptionSection />
    </div>
    <div class='content__selected-projects'>
      <SelectedProjectsSection />
    </div>
  </div>
</Layout>
<style>
  .content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .content__separator {
    display: none;
  }
  .content__description {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  @media (max-width: 768px) {
    .content {
      gap: 1.5rem;
    }
    .content__separator {
      display: block;
      width: 50%;
      margin: 0 auto;
    }

    .content__description {
      width: 100%;
    }
  }
</style>
