---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';

import aboutMe from '../assets/aboutMe.jpg';
---

<Layout title='Welcome to Astro.'>
  <Header />
  <main>
    <div class='container'>
      <div class='introduction'>
        <div class='introduction__description'>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quas corrupti velit atque
            fugit magni perferendis minus, inventore porro dignissimos natus mollitia repudiandae
            officiis exercitationem enim corporis impedit explicabo. Atque.
          </p>
        </div>
        <div class='introduction__imh'>
          <Image src={aboutMe} alt='profesional profile photo' width={400} />
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  /* Make it global */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .introduction {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
  }

  .introduction div {
    flex: 1;
  }

  .introduction img {
    height: 400px;
    border-radius: 50%;
    overflow: hidden; /* This ensures the image stays within the rounded border */
    object-fit: cover; /* This ensures the image covers the entire container */
    object-position: center top;
  }

  @media (max-width: 768px) {
    .introduction {
      display: flex;
      flex-direction: column;
      flex-flow: column-reverse;
      align-items: center;
      margin-top: 4rem;
    }

    .introduction img {
      width: 200px;
      height: 200px;
    }
  }
</style>
