---
import Layout from '../layouts/Layout.astro';
import LightBox from '../components/LightBox.astro';

const project = {
  title: 'Maral 34',
  description:
    'This holiday apartment redesign for a family of five balanced furniture the client had already purchased specifically for the space with a cohesive, spacious look. A custom, wall-mounted TV unit added visual lightness to the living and dining area, while vertical mirrors and reflective surfaces in the kitchen maximized brightness and space, creating a welcoming and functional environment.',
  cover: [
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631131333/deptoMaral34/deptoMaral34-20_yplhvg.jpg',
  ],
  imageGallery: [
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631131333/deptoMaral34/deptoMaral34-20_yplhvg.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631131462/deptoMaral34/deptoMaral34-22_aakdmj.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631131517/deptoMaral34/deptoMaral34-23_zsrwl1.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631131568/deptoMaral34/deptoMaral34-24_pt38h6.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631131669/deptoMaral34/deptoMaral34-26_vfxoao.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631130673/deptoMaral34/deptoMaral34-7_jt4h47.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631130562/deptoMaral34/deptoMaral34-5_rgczj8.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631130613/deptoMaral34/deptoMaral34-6_hcmqzj.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631130415/deptoMaral34/deptoMaral34-2_srgoaf.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631131036/deptoMaral34/deptoMaral34-14_jqvc9n.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631130981/deptoMaral34/deptoMaral34-13_yytlpc.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631131082/deptoMaral34/deptoMaral34-15_paeyk5.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631131184/deptoMaral34/deptoMaral34-17_kxdkw9.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631131788/deptoMaral34/deptoMaral34-28_epnlzr.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631131831/deptoMaral34/deptoMaral34-29_yquoei.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631131877/deptoMaral34/deptoMaral34-30_eviao7.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631131728/deptoMaral34/deptoMaral34-27_jldkfa.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631131988/deptoMaral34/deptoMaral34-34_xonguk.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631131931/deptoMaral34/deptoMaral34-32_zjzgib.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631131911/deptoMaral34/deptoMaral34-31_abswyx.jpg',
  ],
};

const photos = project.imageGallery.map(img => {
  return { src: img, alt: project.title, width: 700, height: 700 };
});
---

<Layout title={project.title}>
  <div class='project-header'>
    <h1>{project.title}</h1>
    <p>{project.description}</p>
  </div>
  <LightBox {photos} />
</Layout>
<style>
  .project-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    gap: 1rem;
  }

  .project-header p {
    width: 50%;
    padding: 1rem;
  }

  @media (max-width: 768px) {
    .project-header p {
      width: 100%;
    }
  }
</style>
