---
const project = {
  title: 'Casa Olazabal',
  description: 'Asesoramiento: Diseño y decoración del living - comedor.',
  cover: [
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631115135/casaOlazabal/casaOlazabal-8_hrc3vq.jpg',
  ],
  imageGallery: [
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631115135/casaOlazabal/casaOlazabal-8_hrc3vq.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631115114/casaOlazabal/casaOlazabal-7_ds9uyn.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631115088/casaOlazabal/casaOlazabal-6_z4aza8.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631114995/casaOlazabal/casaOlazabal-4_pqquib.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631114955/casaOlazabal/casaOlazabal-3_vycdl5.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631114909/casaOlazabal/casaOlazabal-2_f1n2tg.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631114850/casaOlazabal/casaOlazabal-1_osfyvg.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631115041/casaOlazabal/casaOlazabal-5_l2mibn.jpg',
  ],
};
---

<section>
  <h1>{project.title}</h1>
</section>
