---
const project = {
  title: 'Casa Pinos de Anchorena',
  description:
    'Servicio Llave en mano: Renovación de comedor - cocina - galería + diseño y decoración.',
  cover: [
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631219064/casaPinosDeAnchorena/comedor/casaPinos-7_srn78l.jpg',
  ],
  imageGallery: [
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631219064/casaPinosDeAnchorena/comedor/casaPinos-7_srn78l.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631218790/casaPinosDeAnchorena/cocina/casaPinos-2_mi0cog.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631218769/casaPinosDeAnchorena/cocina/casaPinos-1_qi1mhq.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631219004/casaPinosDeAnchorena/comedor/casaPinos-6_dsrm9f.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631219084/casaPinosDeAnchorena/comedor/casaPinos-8_aztu8g.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631219105/casaPinosDeAnchorena/comedor/casaPinos-9_jkha34.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631219122/casaPinosDeAnchorena/comedor/casaPinos-10_zsby3f.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631219282/casaPinosDeAnchorena/galeria/casaPinos-14_eauavw.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631219300/casaPinosDeAnchorena/galeria/casaPinos-15_c5f2dt.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631219319/casaPinosDeAnchorena/galeria/casaPinos-16_dluhvw.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631219473/casaPinosDeAnchorena/galeria/casaPinos-20_ra0sfq.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631219399/casaPinosDeAnchorena/galeria/casaPinos-18_qru0j5.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631219355/casaPinosDeAnchorena/galeria/casaPinos-17_fkhetc.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631218838/casaPinosDeAnchorena/cocina/casaPinos-3_qtnba5.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631218920/casaPinosDeAnchorena/cocina/casaPinos-4_zgwwxu.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631218963/casaPinosDeAnchorena/cocina/casaPinos-5_f9o4ky.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631219157/casaPinosDeAnchorena/comedor/casaPinos-11_sjusih.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631219198/casaPinosDeAnchorena/comedor/casaPinos-12_jqlvbr.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631219231/casaPinosDeAnchorena/comedor/casaPinos-13_mqczhq.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631219441/casaPinosDeAnchorena/galeria/casaPinos-19_vkyjqr.jpg',
  ],
};
---

<section>
  <h1>{project.title}</h1>
</section>
