---
import Layout from '../layouts/Layout.astro';

const projects = [
  {
    id: 1,
    title: 'Almafuerte',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654633708/Almafuerte/DSC_0038_zapujw.jpg',
    url: '/almafuerte',
  },
  {
    id: 2,
    title: 'Adrogue House',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631111504/casaAdrogue/casaAdrogue-4_c2uynr.jpg',
    url: '/adrogue-house',
  },
  {
    id: 3,
    title: 'Artigas',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631210119/casaArtigas/casaArtigas-5_jkzccr.jpg',
    url: '/artigas',
  },
  {
    id: 4,
    title: 'Brandsen',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631128400/deptoBrandsen/deptoBrandsen-1_opinbb.jpg',
    url: '/brandsen',
  },
  {
    id: 5,
    title: 'Studio Brown',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631133909/deptoBrown/deptoBrown-38_dzrkeq.jpg',
    url: '/studio-brown',
  },
  {
    id: 6,
    title: 'Caraza children&apos;s Room',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631211338/habInfantilCalaza/habCalaza-6_qpwphl.jpg',
    url: '/caraza-childrens-room',
  },
  {
    id: 7,
    title: 'Castelli House',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631108485/casaFlOR/casaFlor-10_egns39.jpg',
    url: '/castelli-house',
  },
  {
    id: 8,
    title: 'Catamarca Apartment',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631110560/casaOlga/casaOlga-2_ih2tnb.jpg',
    url: '/catamarca-apartment',
  },
  {
    id: 9,
    title: 'David Ortega',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654632845/David%20Ortega/DSC_9637_otswvk.jpg',
    url: '/david-ortega',
  },
  {
    id: 10,
    title: 'Gascon',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654634547/Dpto%20Gasc%C3%B3n/DSC_8448_qya0if.jpg',
    url: '/gascon',
  },
  {
    id: 11,
    title: 'Maral 34',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631131333/deptoMaral34/deptoMaral34-20_yplhvg.jpg',
    url: '/maral-34',
  },
  {
    id: 12,
    title: 'Maral Explanada Apartment',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631192816/deptoMaralExplanada/deptoMaralExplanada-3_tjl3wm.jpg',
    url: '/maral-explanada-apartment',
  },
  {
    id: 13,
    title: 'Home Office Mitre',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631116405/homeOfficeMitre/homeOffice-5_eeorne.jpg',
    url: '/home-office-mitre',
  },
  {
    id: 14,
    title: 'Olazabal House',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631115135/casaOlazabal/casaOlazabal-8_hrc3vq.jpg',
    url: '/olazabal-house',
  },
  {
    id: 15,
    title: 'Pinos de Anchorena',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631219064/casaPinosDeAnchorena/comedor/casaPinos-7_srn78l.jpg',
    url: '/pinos-de-anchorena',
  },
  {
    id: 16,
    title: 'Malibu Bar',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631113322/balnearioPlayBeach/playBeach-6_vztdyk.jpg',
    url: '/malibu-bar',
  },
  {
    id: 17,
    title: 'Playa Grande',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631194001/deptoPlayaGrande/deptoPlayaGrande-10_v6lvnf.jpg',
    url: '/playa-grande',
  },
  {
    id: 18,
    title: 'Rio Gallegos House',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631195539/casaRioGallegos/casaRioGallegos-2_qyeqno.jpg',
    url: '/rio-gallegos-house',
  },
  {
    id: 19,
    title: 'Saavedra House',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631219612/casaPinosDeAnchorena/quincho/casaPinos-21_i91fcx.jpg',
    url: '/saavedra-house',
  },
  {
    id: 20,
    title: 'Santa fe',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631208957/deptoSantaFe/deptoSantaFe-1_gqassd.jpg',
    url: '/santa-fe',
  },
  {
    id: 21,
    title: "Twin's Bedroom",
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631217856/habInfantilMellizos/habInfantilMellis-11_endk3g.jpg',
    url: '/twins-bedroom',
  },
  {
    id: 22,
    title: 'XX de Septiemvre Apartment',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631194719/deptoXXSeptiempre/deptoXXSeptiembre-3_bncy65.jpg',
    url: '/xx-de-septiembre-apartment',
  },
];
---

<Layout title='Projects'>
  <section>
    <ul>
      {
        projects.map(project => (
          <li>
            <a href={project.url}>
              <div>
                <img src={project.cover} />
                <p>{project.title}</p>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>;

<style>
  img {
    width: 100px;
    height: 200px;
  }
  a {
    color: white;
  }
</style>
