---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';

const projects = [
  {
    id: 1,
    title: 'Concepcion Arenal',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1727078888/CasaConcepcionArenal/vldkubifdfbqervwmryd.jpg',
    url: '/concepcion-arenal',
  },
  {
    id: 2,
    title: 'Studio Brown',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631133909/deptoBrown/deptoBrown-38_dzrkeq.jpg',
    url: '/studio-brown',
  },
  {
    id: 3,
    title: 'Almafuerte',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1727080166/Almafuerte/o6okwhphbktlqgkmk7in.jpg',
    url: '/almafuerte',
  },
  {
    id: 4,
    title: 'Gascon',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654634549/Dpto%20Gasc%C3%B3n/DSC_8454_cugux4.jpg',
    url: '/gascon',
  },
  {
    id: 5,
    title: 'Brandsen',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631128662/deptoBrandsen/deptoBrandsen-4_szhlqv.jpg',
    url: '/brandsen',
  },
  {
    id: 6,
    title: 'Maral 34',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631131131/deptoMaral34/deptoMaral34-16_ocl7hb.jpg',
    url: '/maral-34',
  },
  {
    id: 7,
    title: 'Home Office Mitre',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631116405/homeOfficeMitre/homeOffice-5_eeorne.jpg',
    url: '/home-office-mitre',
  },
  {
    id: 8,
    title: 'Artigas',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631210119/casaArtigas/casaArtigas-5_jkzccr.jpg',
    url: '/artigas',
  },
  {
    id: 9,
    title: 'Playa Grande',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631194001/deptoPlayaGrande/deptoPlayaGrande-10_v6lvnf.jpg',
    url: '/playa-grande',
  },
  {
    id: 10,
    title: 'Pinos de Anchorena',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631219064/casaPinosDeAnchorena/comedor/casaPinos-7_srn78l.jpg',
    url: '/pinos-de-anchorena',
  },
  {
    id: 11,
    title: 'Santa fe',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631208957/deptoSantaFe/deptoSantaFe-1_gqassd.jpg',
    url: '/santa-fe',
  },
  {
    id: 12,
    title: 'David Ortega',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1654632845/David%20Ortega/DSC_9637_otswvk.jpg',
    url: '/david-ortega',
  },
  {
    id: 13,
    title: 'Saavedra',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631219612/casaPinosDeAnchorena/quincho/casaPinos-21_i91fcx.jpg',
    url: '/saavedra',
  },
  {
    id: 14,
    title: 'Malibu',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631113322/balnearioPlayBeach/playBeach-6_vztdyk.jpg',
    url: '/malibu',
  },
  {
    id: 15,
    title: 'Swimwear Store',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1727848192/Swimwear%20store/cgaqa0au6zrgc6lkouzh.webp',
    url: '/swimwear-store',
  },
  {
    id: 16,
    title: "Twin's Bedroom",
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1727848669/Twins%20bedroom/iqmnxxam6qucnfmscrwc.webp',
    url: '/twins-bedroom',
  },
  {
    id: 17,
    title: 'Brisas',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631111504/casaAdrogue/casaAdrogue-4_c2uynr.jpg',
    url: '/brisas',
  },
  {
    id: 18,
    title: 'Maral Explanada',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631192816/deptoMaralExplanada/deptoMaralExplanada-3_tjl3wm.jpg',
    url: '/maral-explanada',
  },
  {
    id: 19,
    title: 'Noha',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631211338/habInfantilCalaza/habCalaza-6_qpwphl.jpg',
    url: '/noha',
  },
  {
    id: 20,
    title: "Kid's Bedroom",
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631217856/habInfantilMellizos/habInfantilMellis-11_endk3g.jpg',
    url: '/kids-bedroom',
  },
  {
    id: 21,
    title: 'Rio Gallegos',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631195539/casaRioGallegos/casaRioGallegos-2_qyeqno.jpg',
    url: '/rio-gallegos',
  },
  {
    id: 22,
    title: 'XX de Septiembre',
    cover:
      'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631194719/deptoXXSeptiempre/deptoXXSeptiembre-3_bncy65.jpg',
    url: '/xx-de-septiembre',
  },
];
---

<Layout title='Projects'>
  <div class='title'>
    <h1>Projects</h1>
  </div>
  <section class='projects'>
    {
      projects.map(project => (
        <div class='project'>
          <ProjectCard
            img={project.cover}
            width={700}
            height={700}
            href={project.url}
            linkText={project.title}
          />
        </div>
      ))
    }
  </section>
</Layout>;

<style>
  .title {
    text-align: center;
    margin-top: 2rem;
  }
  .projects {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, auto);
    gap: 1rem;
  }
  .project {
  }
  a {
    color: white;
  }

  @media (max-width: 768px) {
    .projects {
      grid-template-columns: repeat(1, 1fr);
      margin-top: 3rem;
    }
    .project {
      /* max-width: 100%; */
    }
  }
</style>
