---
const project = {
  title: 'Studio Brown',
  description:
    "This renovation transformed the ground floor into a stylish and functional space that seamlessly blends contemporary design with the couple's love for wine and entertainment. Custom furniture, neutral tones, and strategic lighting elevate the home's aesthetic, while the reconfigured layout enhances flow and connection to the outdoors.",
  cover: [
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631133909/deptoBrown/deptoBrown-38_dzrkeq.jpg',
  ],
  imageGallery: [
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631134419/deptoBrown/deptoBrown-52_xm5p3a.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631133981/deptoBrown/deptoBrown-40_cfnnxt.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631133909/deptoBrown/deptoBrown-38_dzrkeq.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631134245/deptoBrown/deptoBrown-47_nwezbx.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631134384/deptoBrown/deptoBrown-51_fvul41.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631133672/deptoBrown/deptoBrown-32_pu0ed8.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631133635/deptoBrown/deptoBrown-31_dcpzdo.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631133475/deptoBrown/deptoBrown-27_cqfxkq.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631133435/deptoBrown/deptoBrown-26_qbxdwc.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631133313/deptoBrown/deptoBrown-23_eosmz4.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631133006/deptoBrown/deptoBrown-16_nv4sjz.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631133140/deptoBrown/deptoBrown-19_wlktp9.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631133269/deptoBrown/deptoBrown-22_oy57dt.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631134453/deptoBrown/deptoBrown-53_pfygjq.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631132460/deptoBrown/deptoBrown-3_hl8frq.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631132588/deptoBrown/deptoBrown-6_rxuuib.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631132878/deptoBrown/deptoBrown-13_wsb99k.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631135014/deptoBrown/deptoBrown-68_c7kqdy.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631134974/deptoBrown/deptoBrown-67_khnhr0.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631134936/deptoBrown/deptoBrown-66_t4sf5n.jpg',
  ],
};
---

<section>
  <h1>{project.title}</h1>
</section>
