---
const project = {
  title: "Twin's Bedroom",
  description:
    'This customized bedroom redesign for twins blended their individual interests in football and princesses into a harmonious space. A soft light green wraparound design, interactive wardrobe illustrations, and bespoke headboards created distinct yet cohesive areas for each child, ensuring a vibrant and balanced atmosphere.',
  cover: [
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631217856/habInfantilMellizos/habInfantilMellis-11_endk3g.jpg',
  ],
  imageGallery: [
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631217856/habInfantilMellizos/habInfantilMellis-11_endk3g.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631217888/habInfantilMellizos/habInfantilMellis-12_rsceoo.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631217820/habInfantilMellizos/habInfantilMellis-10_ris2db.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631217791/habInfantilMellizos/habInfantilMellis-9_cisfot.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631217760/habInfantilMellizos/habInfantilMellis-8_pet4eo.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631217731/habInfantilMellizos/habInfantilMellis-7_vspsg8.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631217700/habInfantilMellizos/habInfantilMellis-6_wmp93h.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631217661/habInfantilMellizos/habInfantilMellis-5_wkng79.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631217630/habInfantilMellizos/habInfantilMellis-4_rhy3bj.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631217600/habInfantilMellizos/habInfantilMellis-3_eag14w.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631217572/habInfantilMellizos/habInfantilMellis-2_nernip.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631217535/habInfantilMellizos/habInfantilMellis-1_ue2nay.jpg',
    'https://res.cloudinary.com/dgxp6vwij/image/upload/v1631217915/habInfantilMellizos/habInfantilMellis-13_fng8dm.jpg',
  ],
};
---

<section>
  <h1>{project.title}</h1>
</section>
