---

---

<section class='description'>
  <div class='description__text'>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, labore? Eveniet, amet. Libero
      sunt non animi cumque rerum dolorem recusandae, laudantium, perferendis natus officiis
      voluptate cum a exercitationem, doloremque dolorum?
    </p>
  </div>
  <div class='description__action'>
    <a href='/about' class='custom-link'>More about me</a>
  </div>
</section>
<style>
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
</style>
