---
// import Toggle from './ThemeChange.astro';
import { Image } from 'astro:assets';
import logo from '../assets/florenciaNietoLogo.png';
---

<header>
  <div class='container'>
    <div class='logo'>
      <Image src={logo} alt='Company Logo' width={200} height={100} />
    </div>
    <nav class='nav'>
      <ul class='nav-list'>
        <li><a class='custom-link' href='/'>Home</a></li>
        <li><a class='custom-link' href='/projects'>Projects</a></li>
        <li><a class='custom-link' href='/about'>About Me</a></li>
      </ul>
    </nav>
    <button class='hamburger' aria-label='Toggle menu'>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <!-- <Toggle /> -->
  </div>
</header>
<style>
  header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, var(--bg-color-header-first), var(--bg-color));
    backdrop-filter: blur(12px);
    padding: 0.5rem 1rem;
    z-index: var(--z-sticky);
  }

  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav-list li {
    margin: 0 1rem;
  }

  .hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 24px;
    position: relative;
  }

  .hamburger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--text-color);
    border-radius: 2px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  .hamburger span:nth-child(1) {
    top: 0px;
  }

  .hamburger span:nth-child(2) {
    top: 10px;
  }

  .hamburger span:nth-child(3) {
    top: 20px;
  }

  /* Mobile styles */
  @media (max-width: 768px) {
    .nav {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: var(--bg-color);
      padding: 1rem;
      box-shadow: 0 5px 10px var(--shadow-color);
    }

    .nav-open {
      display: block;
      height: calc(100vh - 58px);
    }

    .nav-list {
      flex-direction: column;
    }

    .nav-list li {
      margin: 1rem 0;
    }

    .hamburger {
      display: block;
    }

    .hamburger.is-active span {
      color: white;
    }

    .hamburger.is-active span:nth-child(1) {
      top: 10px;
      transform: rotate(135deg);
    }

    .hamburger.is-active span:nth-child(2) {
      opacity: 0;
      left: -60px;
    }

    .hamburger.is-active span:nth-child(3) {
      top: 10px;
      transform: rotate(-135deg);
    }
  }
</style>
<script>
  const hamburger = document.querySelector('.hamburger');
  const nav = document.querySelector('.nav');

  hamburger?.addEventListener('click', () => {
    nav?.classList.toggle('nav-open');
    hamburger.classList.toggle('is-active');
  });
</script>
