<section class='introduction'>
  <div class='introduction__section'>
    <div class='introduction__description'>
      <h1>Florencia Nieto</h1>
      <h2>Interior designer</h2>
    </div>
    <div class='introduction__img'>
      <img
        src='https://res.cloudinary.com/dgxp6vwij/image/upload/v1728453288/Profile%20photo/rgi01ovrmmljqpoykdd9.webp'
        alt='profesional profile photo'
        width='400px'
      />
    </div>
  </div>

  <div class='description'>
    <div class='description__text'>
      <p>
        Originally from Argentina and currently a resident of New Zealand, I hold a Diploma in
        Interior Design and a Master of Applied Management. Since 2015, I have been dedicated to
        interior design, specialising in turnkey solutions, online and in-person consultations.
      </p><p>
        My expertise includes comprehensive renovations and the decoration of residential, office,
        and retail environments. I excel at enhancing functionality and achieving project goals,
        whether reflecting homeowners' personal styles or meeting commercial branding needs.
      </p><p>
        I possess a strong ability to understand and interpret clients' needs, even when they are
        unsure of their requirements. My approach involves attentive listening and delivering
        creative solutions that exceed expectations and effectively transform their environments.
      </p><p>
        My design philosophy focuses on creating visually appealing and functional interiors. I
        tailor each project to individual needs and preferences, balancing creativity with
        practicality. Attention to detail and collaborative teamwork are fundamental to achieving
        outstanding results.
      </p>
    </div>

    <div class='description__action'>
      <a href='/about' class='custom-link download'>
        Portfolio
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='20'
          height='20'
          fill='black'
          viewBox='0 0 24 24'
        >
          <path
            d='M12 16a1 1 0 0 0 1-1V6a1 1 0 1 0-2 0v9a1 1 0 0 0 1 1zM16.707 11.293a1 1 0 0 0-1.414 0L13 13.586V7a1 1 0 0 0-2 0v6.586l-2.293-2.293a1 1 0 0 0-1.414 1.414l4 4a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0 0-1.414zM5 17a1 1 0 0 0-1 1v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-2a1 1 0 1 0-2 0v2H6v-2a1 1 0 0 0-1-1z'
          ></path>
        </svg>
      </a>

      <a href='/about' class='custom-link download'>
        Resume
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='20'
          height='20'
          fill='black'
          viewBox='0 0 24 24'
        >
          <path
            d='M12 16a1 1 0 0 0 1-1V6a1 1 0 1 0-2 0v9a1 1 0 0 0 1 1zM16.707 11.293a1 1 0 0 0-1.414 0L13 13.586V7a1 1 0 0 0-2 0v6.586l-2.293-2.293a1 1 0 0 0-1.414 1.414l4 4a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0 0-1.414zM5 17a1 1 0 0 0-1 1v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-2a1 1 0 1 0-2 0v2H6v-2a1 1 0 0 0-1-1z'
          ></path>
        </svg>
      </a>
    </div>
  </div>
</section>
<style>
  .introduction {
    display: flex;
    flex-direction: column;
    margin: 0 8rem;
    margin-top: 3rem;
    gap: 4rem;
  }

  .introduction__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .introduction__description h1 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
  }

  .introduction__description h2 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
  }

  .introduction__img {
  }

  .introduction img {
    height: 526px;
    border-top-left-radius: 40%;
    overflow: hidden;
    object-fit: cover;
    object-position: center bottom;
  }

  .description__text {
    text-align: justify;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .description__action {
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
    justify-content: center;
    font-size: 1.2rem;
  }
  .download {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  @media (max-width: 768px) {
    .introduction {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      margin-top: 2rem;
      gap: 2rem;
    }

    .introduction__section {
      flex-flow: column-reverse;
      gap: 2rem;
    }

    .introduction__description {
      flex: 1;
      order: 2;
    }

    .introduction__img {
      flex: 1;
      order: 2;
    }

    .introduction__title {
      flex: 1;
      order: 3;
    }

    .introduction img {
      width: 250px;
      height: 336px;
    }

    .introduction__description h1 {
      font-size: 2rem;
    }

    .introduction__description h2 {
      font-size: 1.5rem;
    }
  }
</style>
