---
import ProjectCard from './ProjectCard.astro';
---

<section class='selected-projects'>
  <div class='selected-projects__header'>
    <h2 class='selected-projects__header__link'>
      <a href='/projects' class='custom-link'>See all projects</a>
    </h2>
  </div>
  <div class='selected-projects__list'>
    <div>
      <ProjectCard
        img='https://res.cloudinary.com/dgxp6vwij/image/upload/v1727078888/CasaConcepcionArenal/vldkubifdfbqervwmryd.jpg'
        width={600}
        height={720}
        href='/concepcion-arenal'
        linkText='Concepcion Arenal'
      />
    </div>
    <div>
      <ProjectCard
        img='https://res.cloudinary.com/dgxp6vwij/image/upload/v1631133909/deptoBrown/deptoBrown-38_dzrkeq.jpg'
        width={600}
        height={720}
        href='/studio-brown'
        linkText='Studio Brown'
      />
    </div>
  </div>
  <div class='selected-projects__header'>
    <h2 class='selected-projects__header__link'>
      <a href='/projects' class='custom-link'>See all projects</a>
    </h2>
  </div>
</section>
<style>
  .selected-projects__header {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .selected-projects__list {
    display: flex;
    gap: 1rem;
  }

  .selected-projects__list div {
    max-width: 50%;
  }

  @media (max-width: 768px) {
    .selected-projects__header {
      justify-content: center;
    }
    .selected-projects__list {
      flex-direction: column;
    }

    .selected-projects__list div {
      max-width: 100%;
    }
  }
</style>
