---
import ProjectCard from './ProjectCard.astro';
---

<section class='selected-projects'>
  <div class='selected-projects__header'>
    <div class='selected-projects__header__title'><h2>Selected projects</h2></div>
    <div class='selected-projects__header__link'>
      <a href='/projects' class='custom-link'>All projects</a>
    </div>
  </div>
  <div class='selected-projects__list'>
    <div>
      <ProjectCard
        img='https://res.cloudinary.com/dgxp6vwij/image/upload/v1727080162/Almafuerte/yfycdcdcbhusglpgfuwr.jpg'
        width={600}
        height={720}
        href='#'
        linkText='Almafuerte'
      />
    </div>
    <div>
      <ProjectCard
        img='https://res.cloudinary.com/dgxp6vwij/image/upload/v1631210119/casaArtigas/casaArtigas-5_jkzccr.jpg'
        width={600}
        height={720}
        href='#'
        linkText='Artigas'
      />
    </div>
  </div>
  <style>
    .selected-projects__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1rem;
    }

    .selected-projects__list {
      display: flex;
      gap: 1rem;
    }

    .selected-projects__list div {
      max-width: 50%;
    }

    @media (max-width: 768px) {
      .selected-projects__list {
        flex-direction: column;
      }

      .selected-projects__list div {
        max-width: 100%;
      }
    }
  </style>
</section>
